body {
    background-color: #ededed;
    font-family: 'Source Sans Pro', sans-serif;
}

label {
    font-family: 'Source Sans Pro', sans-serif;
}

.rotating-logo {
    animation: rotateLogo 100s infinite linear;
}

@keyframes rotateLogo {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.toggle-content {
    display: none;
}

.fancy-title {
    font-size: 2.5em;
    font-weight: bold;
    color: #3b3e4d;
    text-align: center;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    letter-spacing: 1.5px;
    margin-bottom: 25px;
    border-bottom: 3px solid #3b3e4d;
}

.fancy-title img {
    margin-top: -25px; 
}

.btn-primary {    
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-success {
    background-color: #59aa6e;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-custom {
    background-color: #3b3e4d;
    padding-left: 30px;
    color: #3b3e4d;
}

.navbar-custom .nav-link {
    font-size: 20px;
    margin-right: 15px;
}

.mt-5 {
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    /* Erste Spalte nimmt so viel Platz ein wie benötigt, zweite Spalte nimmt den verbleibenden Platz ein */
    gap: 10px 15px;
    /* Abstand zwischen den Zeilen und Spalten */
}

.font-weight-bold {
    font-weight: bold;
}

.details-table {
    width: 100%;
    border-collapse: collapse;
}

.details-table th,
.details-table td {
    border: 1px solid #d1d1d1;
    padding: 8px 12px;
    text-align: center;
}

.details-table th {
    background-color: #f2f2f2;
}

.tooltip.bs-tooltip-bottom .tooltip-inner {
    background-color: #dc3545;
    color: #fff;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #dc3545;
}

.custom-tooltip .tooltip-inner {
    background-color: red;
    color: white;
}

.custom-tooltip .tooltip-arrow::before {
    border-bottom-color: red;
}

.rtd-infobox {
    border: 1px solid #e1e4e5;
    margin-top: 20px;
    border-radius: 4px;
}

.rtd-infobox-header {
    background-color: #0366d6; 
    color: white;
    padding: 10px 20px; 
    border-radius: 4px 4px 0 0;
    font-weight: bold;
    position: relative;
}

.rtd-infobox-header .fa-info-circle { 
    margin-right: 10px;
    vertical-align: middle;
}

.rtd-infobox-content {
    padding: 15px;
    background-color: #e6f1fa; 
}

.rtd-infobox-content li {
    list-style-type: none;
    margin-left: -20px;
    padding-left: 20px;
    position: relative;
}

.rtd-infobox-content li:before {
    content: "\f073"; 
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: 50%; 
    transform: translateY(-50%); 
    color: #0366d6; 
}


.alert-success {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    display: none; /* Versteckt zu Beginn */
    border-radius: 5px;
    padding: 15px 20px;
    position: relative;
    animation: zoomIn 0.6s ease-out forwards;
}

.alert-success .alert-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.alert-success strong {
    font-size: 1.5em;
    margin-left: 15px; /* Abstand zum Icon */
}

.alert-success p {
    margin-top: 5px;
}

.fas.fa-trophy {
    font-size: 1.5em;
    color: gold; /* Farbe des Pokals */
}

@keyframes zoomIn {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.tui-full-calendar-weekday-schedule,
.tui-full-calendar-time-schedule {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #ffffff !important; /* Schriftfarbe weiß */
    background-color: #0366d6 !important;
    border-color: #0366d6 !important;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 2s ease-out;
}



