body {
    font-family: Open Sans, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    width: 470px; 
    height: 400px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

button {
    background-color: #3b3e4d;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

#response {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    color: #333;
    text-align: left; 
}


#buttonContainer {
    display: flex;    
    gap: 10px; 
}

#settingsContainer, #standortContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#pauseContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%; /* Container nimmt die volle Breite ein */
    justify-content: flex-start; /* Inhalte nach links ausrichten */
}

#apiUrl, #standort {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 70%;
}

#pause {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: auto; /* Automatische Breite basierend auf dem Inhalt */
}

#saveUrlButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#saveUrlButton:hover {
    background-color: #45a049;
}

.form-control {
    flex: 1;
}

